@keyframes slide-laptop {
    0% {
        translate: 0 5vh;
    }
    100% {
        translate: 0 0;
    }
}
@keyframes slide-mobile {
    0% {
        translate: -10vw 0;
    }
    100% {
        translate: 0 0;
    }
}

/* rules for index.html */
:root {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    height: auto;
    max-width: 100%;
    width: 100dvw;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 2rem 2rem 2rem 2rem;
    border-bottom: 1px solid;
}

.logo {
    height: auto;
    width: 10%;
    margin-left: 4rem;
}

.nav {
    display: flex;
    height: 100%;
    width: auto;
    margin-right: 2rem;
}

.nav-button, 
.active {
    margin: 0rem 2rem 0 2rem;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: 0.1s ease;
}

body.hasHover .nav-button:hover,
body.hasHover .active:hover{
    scale: 1.1;
}

.active {
    color: red;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 2rem;
}

.card {
    flex: 25%;
    height: 350px;
    margin: 2rem;
    opacity: 0.5;
    overflow: hidden;
    border-radius: 2px;
    background-color: black;
    filter: grayscale(1);
    transition: 0.3s ease;
}

body.hasHover .card:hover {
    translate: 0 -1rem;
    opacity: 1;
	cursor: pointer;
    filter: grayscale(0);
}

.project {
    position: fixed;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    margin: 1rem;
    color: white;
    transition: 0.1s ease-in;
}

body.hasHover .card:hover .project {
    visibility: visible;
    opacity: 1;
    animation-name: slide-laptop;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.project p {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
}


/* section for about.html */
.about-main {
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    margin: 5rem;
}

.headshot {
    height: auto;
    margin: 4rem 4rem 4rem 0;
}

.text-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: 2rem 0 2rem 4rem;
}

.text-box h1 {
    margin: 0;
    margin-bottom: 1rem;
}

.about-footer {
    position: absolute;
    bottom: 0;
}


/* section for contact.html */
.contact-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    height: auto;
    width: auto;
    margin: 5rem;
    border-bottom: 1px solid;
}

.instagram,
.linkedin, 
.facebook {
    margin: 0.5rem;
}

.instagram img,
.linkedin img,
.facebook img {
    height: auto;
    width: 2rem;
    transition: 0.1s ease;
}

body.hasHover .instagram img:hover,
body.hasHover .linkedin img:hover,
body.hasHover .facebook img:hover {
    scale: 1.1;
}

.info {
    margin: 5rem;
    text-align: center;
}

.contact-footer {
    position: absolute;
    bottom: 0;
}


/* rules for phone display */
@media screen and (max-width: 600px) {
    :root {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
    header {
        padding: 1rem 2rem 1rem 2rem;
        scroll-snap-align: start;
    }
    .nav {
        flex-direction: column;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .showcase {
        margin: 2rem 0 2rem 0;
    }
    .card {
        flex: 100%;
        scroll-snap-align: center;
        transition: 0.5s ease;
    }
    .project {
        position: relative;
        transition: 0.3s ease-in 0.3s;
    }
	.card.hasFocus {
        opacity: 1;
        filter: grayscale(0);
    }
    .card.hasFocus .project {
        visibility: visible;
        opacity: 1;
        animation-name: slide-mobile;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-delay: 0.3s;
        
    }
    .about-container {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .headshot {
        margin: 5rem 2rem 5rem 2rem;
    }
    .text-box {
        text-align: center;
        width: auto;
        margin: 2rem;
    }
}
