@keyframes slide-laptop {
    0% {
        translate: 0 5vh;
    }
    100% {
        translate: 0 0;
    }
}
@keyframes slide-mobile {
    0% {
        translate: 10vw 0;
    }
    100% {
        translate: 0 0;
    }
}
@keyframes slide-mobile-rev {
    0% {
        translate: 0 0;
    }
    100% {
        translate: 10vw 0;
    }
}


/* rules for index.html */
:root {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat";
    -webkit-tap-highlight-color: transparent;
}

body.hasHover a:active {
    scale: 0.9;
}

body {
    height: 100%;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: auto;
    padding: 1rem 2rem 1rem 2rem;
    border-bottom: 1.5px solid darkgrey;
}

.logo {
    height: 69px;
    width: 80px;
    margin-bottom: 1rem;
    margin-left: 4rem;
}

.logo img {
    height: auto;
    width: 100%;
}

.nav {
    display: flex;
    height: 100%;
    width: auto;
    margin-right: 2rem;
}

.nav-button, 
.active {
    margin: 0rem 2rem 0 2rem;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: 0.1s ease;
}

body.hasHover .nav-button:hover,
body.hasHover .active:hover{
    scale: 1.1;
}

body.hasHover .nav-button:active, 
body.hasHover .active:active {
    scale: 1;
    color: dimgrey;
}

.active {
    color: red;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 2rem;
}

.card {
    flex: 25%;
    height: 350px;
    margin: 2rem;
    opacity: 1;
    overflow: hidden;
    border-radius: 2px;
    background-color: #eee;
    filter: grayscale(1);
    transition: 0.3s ease;
}

body.hasHover .card:hover {
    translate: 0 -1rem;
    opacity: 1;
    cursor: pointer;
    filter: grayscale(0);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.project-image-container {
    height: 100%;
    width: 100%;
}

.project-image-container a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}

.project-image-container img {
    height: 100%;
    object-fit: cover;
}

.project-name-container {
    position: fixed;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    margin: 1rem;
    color: white;
    transition: 0.1s ease-in;
}

body.hasHover .card:hover .project-name-container {
    visibility: visible;
    opacity: 1;
    animation-name: slide-laptop;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.project-name-container p {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
}

.footer-links {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 5rem 1rem 5rem;
    padding: 0.5rem 0 0.5rem 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
}


/* section for about.html */
.about-main {
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5rem;
    background-color: #eee;
    border: 1px solid darkgrey;
    border-radius: 2px;
}

.headshot {
    height: 100%;
    width: 500px;
}

.headshot img {
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

.text-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2rem 0 2rem 2rem;
}

.h1 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 30px;
}

.about-footer {
    position: absolute;
    bottom: 0;
}


/* section for contact.html */
.contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 470px;
    width: 30%;
    margin: 2rem 2rem 1rem 2rem;
    margin-top: 4rem;
    padding: 0 2rem 2rem 2rem;
    background-color: #eee;
    border: 1px solid darkgrey;
    border-radius: 2px;
}

.hero-title {
    margin-top: 7rem;
    font-size: 40px;
    border-bottom: 1.5px solid darkgrey;
}

.hero-title p {
    margin: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    margin-top: 4rem;
}

.info p {
    align-content: center;
    height: 25px;
    padding-left: 2rem;
    border-left: 1.5px solid darkgrey;
}

.info-email {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
}

.info-email img {
    height: 48px;
    width: 48px;
    margin-right: 2rem;
}

.info-location {
    display: flex;
    justify-content: left;
    align-items: center;    
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info-location img {
    height: 48px;
    width: 48px;
    margin-right: 2rem;
}

.links {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 0 5rem 5rem 5rem;
}

.instagram,
.linkedin, 
.facebook {
    height: 32px;
    margin: 0 0.5rem 0 0.5rem;
}

.instagram img,
.linkedin img,
.facebook img {
    height: auto;
    width: 2rem;
    transition: 0.1s ease;
    border-radius: 8px;
}

body.hasHover .instagram img:hover,
body.hasHover .linkedin img:hover,
body.hasHover .facebook img:hover {
    scale: 1.1;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.socials {
    margin-top: 1rem;
}

.socials p {
    padding: 1rem;
    border-bottom: 1.5px solid darkgrey;
}

.contact-footer {
    position: absolute;
    bottom: 0;
}


/* rules for projects.html */
.project-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title {
    font-size: 30px;
}

.project-desc {
    margin-bottom: 2rem;
}

.back-button {
    display: flex;
    position: fixed;
    top: 163px;
    left: 400px;
    width: fit-content;
}

.back-button img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 0.1s ease;
}

body.hasHover .back-button img:hover {
    scale: 1.1;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.back-button a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


/* rules for phone display */
@media screen and (max-width: 600px) {
    :root {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
    header {
        padding: 1rem;
        scroll-snap-align: start;
    }
    .logo {
        width: 69px;
        margin-bottom: 0;
    }
    .nav {
        flex-direction: column;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .showcase {
        margin: 2rem 0 2rem 0;
    }
    .card {
        flex: 100%;
        opacity: 0.8;
        scroll-snap-align: center;
        transition: 0.5s ease;
    }
    .project-name-container {
        transition: 0.3s ease 0.3s;
    }
    .card.hasFocus {
        opacity: 1;
        filter: grayscale(0);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    }
    .card.hasFocus .project-name-container {
        visibility: visible;
        opacity: 1;
        animation-name: slide-mobile;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-delay: 0.3s;
    }
    .card.lostFocus .project-name-container {
        visibility: hidden;
        opacity: 0;
        animation-name: slide-mobile-rev;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-delay: 0.3s;
    }
    .about-container {
        flex-direction: column;
        width: 100%;
        margin: 0;
        background-color: white;
        border: none;
    }
    .headshot {
        height: auto;
        width: 80%;
        margin: 2rem 0 2rem 0;
    }
    .headshot img {
        width: 100%;
        object-fit: cover;
    }
    .text-box {
        text-align: center;
        width: auto;
        margin: 1rem;
        scroll-snap-align: center;
    }
    .about-footer {
        position: relative;
    }
    .footer-links {
        visibility: hidden;
    }
    .contact-main {
        display: block;
        min-height: calc(100dvh - 109px - 32px);
    }
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        position: relative;
        height: calc(100dvh - 109px - 32px);
        width: 100%;
        margin: 0;
        padding: 2rem 0 2rem 0;
        border: none;
        background-color: white;
    }
    .hero-title {
        margin: 0;
        border: none;
    }
    .info-email img, 
    .info-location img {
        margin-right: 1rem;
    }
    .info-email p,
    .info-location p {
        padding-left: 1rem;
    }
    .socials {
        margin: 0;
        margin-bottom: 4rem;
    }
    .socials p {
        margin: 0;
        padding: 0.5rem;
    }
    .links {
        margin: 0;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    .socials, 
    .links {
        position: absolute;
        bottom: 0;
    }
    .back-button {
        left: 30px;
    }
    .back-button img {
        height: 40px;
        width: 40px;
    }
}
