:root {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat";
}

header {
  	display: flex;
    justify-content: space-between;
  	align-items: center;
    height: fit-content;
  	width: 100%;
    padding: 2rem 2rem 2rem 2rem;
    border-bottom: 1px solid;
}

.logo {
	height: auto;
  	width: 10%;
    margin-left: 4rem;
}

.nav {
    display: flex;
  	height: 100%;
  	width: auto;
    position: sticky;
    margin-right: 2rem;
}

.nav a {
  	margin: 0rem 2rem 0 2rem;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: 0.1s ease;
}

.nav a:hover {
    color: white;
}

body {
  	height: auto;
    width: 100dvw;
    margin: 0;
    padding: 0;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 2rem;
}

.showcase div {
    flex: 25%;
    height: 350px;
    margin: 2rem;
    border-radius: 2px;
    background-color: black;
    transition: 0.3s ease;
}

.showcase div {
    opacity: 0.3;
}

.showcase div:hover {
    translate: 0 -1rem;
    opacity: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
    
}

@media screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
    }
    .showcase div {
    flex: 100%;
    }
}
